body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.nested {
  padding-left: 2rem;
}

h2 {
  color: #333;
  font-size: 1.75rem;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:first-child {
  font-weight: bold;
}

td:last-child {
  text-align: right;
}
